.auth_main {
  display: flex;
  justify-content: space-between;
}

.auth_area {
  width: 420px;
  margin: auto;
}

.auth_title {
  font-weight: 600;
  font-size: 2rem;
  color: #00244d;
}

.auth_subtitle {
  font-weight: 300;
  font-size: 1.2rem;
  margin-bottom: 2rem;
  color: #00244d;
}

.auth_findPwd {
  font-weight: 300;
  font-size: 0.8rem;
  color: #0077ff;
  margin: 0.5rem 0 2.6rem 0;
}

.detach_line {
  width: 420px;
  border-top: 1px solid;
  border-color: #f1f1f1;
}

.auth_register {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.auth_account,
.auth_make_account {
  font-weight: 300;
  font-size: 1rem;
}

.auth_account {
  margin-right: 0.4rem;
}

.auth_make_account {
  color: #0077ff;
}

.auth_information {
  display: flex;
  width: 60rem;
  flex-direction: column;
  justify-content: center;
}
